{% extends 'base.html' %}

{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<section class="banner" id="banner">

<div class="container">
    
    <div class="p-4 m-4">

        
        <div class="col-lg-4 mt-4 mx-auto rounded border pt-4">

            <form action="/signin" method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}             
                </div>
                {% endif %}

                <div class="registerForm">
                <h2 style="padding-bottom: 2em;margin-left: 3em;">Signin Here</h2>
                <div class="inputBox form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                 class=" form-control-sm form-control" placeholder="example@gmail.com">
                </div>
                <div class="inputBox form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm" placeholder="********">
                </div>
                <div class="inputBox form-group" style="margin-left: 6em;">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Signin">
                </div> 
                </div>
            </form>
        </div>
    </div>
</div>



</section>

{% endblock content %}