{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authentication</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
<body>
{% load static %}
   <header>
  <a href="/" class="logo">Eat&Enjoy<span>.</span></a>
  <div class="menuToggle" onclick="toggleMenu();"></div>
   <ul class="navigation">
    <li><a href="/" onclick="toggleMenu();">Home</a></li>
    <li><a href="/register" onclick="toggleMenu();">Register</a></li>
    <li><a href="/restaurent" onclick="toggleMenu();">Restaurent</a></li>
    <li><a href="/order#" onclick="toggleMenu();">Order</a></li>
    <li><a href="/view#" onclick="toggleMenu();">View Orders</a></li>
    <li><a href="/cart#" onclick="toggleMenu();">Cart
    <span class="badge badge-info">{{request.session.cart.keys|length}}</span>
    </a></li>

   </ul>

 </header>

<div>
    {% block content %}

    {% endblock content %}
</div>


<footer>
<div class ="copyrightText">
  <p>Copyright 2022 <a href="#">Eat&Enjoy</a>. All Right Reserved</p>
 </div> 


</footer>

</body>
</html>